@using Paup2021_Vjezbe.Models
@using PagedList.Mvc;
@using Paup2021_Vjezbe.Misc;
@model PagedList.IPagedList<Student>
@{
    AjaxOptions ajaxOpt = new AjaxOptions()
    {
        UpdateTargetId = "popisStudenata",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        OnBegin = "LoadingRow"
    };

}

<div id="popisStudenata">
    <table id="tableStudenti" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>
                    @Ajax.ActionLink("Prezime", "PopisPartial",
                        new { smjer = ViewBag.Smjer, naziv = ViewBag.Naziv, spol = ViewBag.Spol, sort = ViewBag.NazivSort }, ajaxOpt)
                </th>
                <th>Ime</th>
                <th>Oib</th>
                <th>
                    @Ajax.ActionLink("Smjer", "PopisPartial",
                        new { smjer = ViewBag.Smjer, naziv = ViewBag.Naziv, spol = ViewBag.Spol, sort = ViewBag.SmjerSort }, ajaxOpt)
                </th>
                <th>Redovni</th>
                @if (User.Identity.IsAuthenticated &&
               ((User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator)
               || (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Moderator)))
                {
                    <th>Akcije</th>
                }
            </tr>
        </thead>
        <tbody>

            @if (Model.Any())
            {
                foreach (var student in Model)
                {
            <tr>
                <td>@student.Id</td>
                <td>@student.Prezime</td>
                <td>@student.Ime</td>
                <td>@student.Oib</td>
                <td>@(student.UpisaniSmjer?.Naziv)</td>
                <td>@Html.CheckBox("chbRedovan", student.RedovniStudent, new { @disabled = true })</td>
                @if (User.Identity.IsAuthenticated &&
                   ((User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator)
                   || (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Moderator)))
                {
                    <td>
                        @Html.ActionLink("Detalji", "Detalji", new { id = student.Id }, new { @class = "btn btn-info btn-sm" })
                        @Html.ActionLink("Ažuriraj", "Azuriraj", new { id = student.Id }, new { @class = "btn btn-warning btn-sm" })
                        @Html.ActionLink("Izbriši", "Brisi", new { id = student.Id }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                }
            </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" style="text-align:center;"> Nema rezultata pretrage</td>
                </tr>
            }

        </tbody>
    </table>

    <div id="pager">
        Ukupno rezultata: @Model.TotalItemCount <br />

        Stranica @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) od @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("PopisPartial",
            new { page, smjer = ViewBag.Smjer, naziv = ViewBag.Naziv, spol = ViewBag.Spol, sort = ViewBag.Sortiranje }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(ajaxOpt))

    </div>
</div>
