@using Paup2021_Vjezbe.Models
@model Student
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Novi)
{
    <h2>Kreiranje studenta</h2>
}
else
{
    <h2>Ažuriranje podataka o studentu</h2>
    <h3>@Model.Ime @Model.Prezime</h3>
}

@using (Html.BeginForm("Azuriraj", "Studenti", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @*
        Html.AntiForgeryToken() - mehanizam koji nas štiti od cross site request forgery
        (poziva HTTP POST metode izvan naše aplikacije)
    *@
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Ispravite podatke!");

    if (!ViewBag.Novi)
    {
        @*
            Html.LabelFor ispisuje labelu za određeni atribut, ako je definiran
            [Display(Name = "")] anotacija nad atributom u modelu tada ispisuje to a ako nema
            onda ispisuje naziv samog atributa
        *@
        <div class="form-group">
            @Html.LabelFor(model => model.Id, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Id, new { disabled = true, @class = "form-control" })
            </div>
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(model => model.Ime, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Ime, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Ime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Prezime, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Prezime, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Prezime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Spol, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.Spol, 'M') Muški
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.Spol, 'Z') Ženski
            </label>
            @Html.ValidationMessageFor(model => model.Spol)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DatumRodjenja, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.DatumRodjenja, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DatumRodjenja, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Oib, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Oib, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Oib, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.GodinaStudija, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EnumDropDownListFor(model => model.GodinaStudija, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GodinaStudija, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RedovniStudent, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.CheckBoxFor(model => model.RedovniStudent)
            @Html.ValidationMessageFor(model => model.RedovniStudent, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BrojUpisanihKolegija, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.BrojUpisanihKolegija, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BrojUpisanihKolegija, "", new { @class = "text-danger" })
        </div>
    </div>
    <!--Button za spremanje -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="false"></span> Spremi
            </button>
        </div>
    </div>
}

<!--Link za povratak na popis studenata-->
@Html.ActionLink("Povratak bez spremanja", "Popis", "Studenti")