@using Paup2021_Vjezbe.Models
@model Student
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

Jeste li sigurni da želite izbrisati studenta @Model.PrezimeIme (OIB: @Model.Oib) ?

@using(Html.BeginForm("Brisi", "Studenti"))
{
    @Html.AntiForgeryToken();

    <input type="submit" value="Izbriši"/>

    <br/>
    <br/>

    @Html.ActionLink("Odustani", "Popis")
}

