@using Paup2021_Vjezbe.Models
@model Student
@{
    ViewBag.Title = "Detalji";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string spol = "";
    if (Model.Spol == "M")
    {
        spol = "Muški";
    }
    else
    {
        spol = "Ženski";
    }
}

<h2>Detalji o studentu</h2>

<a href="@Url.Action("DetaljiIspis", "Studenti",
                new { id = Model.Id })" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Kreiraj PDF
</a>

@if (!String.IsNullOrWhiteSpace(Model.SlikaPutanja))
{
    <div class="row">
        <div class="col-sm-offset-2 col-md-10">
            <img src="@Url.Content(Model.SlikaPutanja)" width="250" height="250" />
        </div>
    </div>
}

<div class="row">
    <div class="col-md-2">
        <strong>Prezime:</strong>
    </div>
    <div class="col-md-10">
        @Model.Prezime
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Ime:</strong>
    </div>
    <div class="col-md-10">
        @Model.Ime
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Spol:</strong>
    </div>
    <div class="col-md-10">
        @spol
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Godina studija: </strong>
    </div>
    <div class="col-md-10">
        @Model.GodinaStudija
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Redovni student: </strong>
    </div>
    <div class="col-md-10">
        @Model.RedovniStudent
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Oib:</strong>
    </div>
    <div class="col-md-10">
        @Model.Oib
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Datum rođenja: </strong>
    </div>
    <div class="col-md-10">
        @Model.DatumRodjenja.ToString("dd.MM.yyyy")
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Broj upisanih kolegija: </strong>
    </div>
    <div class="col-md-10">
        @Model.BrojUpisanihKolegija
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Smjer: </strong>
    </div>
    <div class="col-md-10">
        @if (@Model.UpisaniSmjer != null)
        {
            @Model.UpisaniSmjer.Naziv
        }
    </div>
</div>

<br />



@Html.ActionLink("Povratak na popis studenata", "Popis"
    , "Studenti", null, new { @class = "btn btn-primary btn-sm" })

