@using Paup2021_Vjezbe.Models
@model List<Student>
@{
    ViewBag.Title = "Popis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Popis studenata</h2>

<a href="@Url.Action("Azuriraj","Studenti")" class="btn btn-success">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Kreiranje novog studenta
</a>
<br />
<br />

@using (Html.BeginForm("Popis", "Studenti", FormMethod.Get, new { @class = "form-inline" }))
{
    @Html.TextBox("naziv", "", new { @class = "form-control", placeholder = "Naziv studenta" })

    @Html.DropDownList("Smjer",
          new SelectList(ViewBag.Smjerovi, "Sifra", "Naziv", ""), "Svi smjerovi",
          new { @class = "form-control", style = "margin-left: 10px;" })


    <div class="form-group" style="margin-left: 10px;">
        <label class="radio-inline">
            @Html.RadioButton("spol", "M") Muški
        </label>
        <label class="radio-inline">
            @Html.RadioButton("spol", "Z") Ženski
        </label>
        <label class="radio-inline">
            @Html.RadioButton("spol", "") Svi
        </label>
    </div>
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Traži
    </button>
}
<br />

@if (Model.Count == 0)
{
    <p>Nema rezultata pretrage!</p>
}
else
{
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Prezime</th>
            <th>Ime</th>
            <th>Oib</th>
            <th>Smjer</th>
            <th>Redovan</th>
            <th>Akcije</th>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Prezime</td>
                <td>@student.Ime</td>
                <td>@student.Oib</td>
                <td>@(student.UpisaniSmjer?.Naziv)</td>
                <td>@Html.CheckBox("chbRedovan", student.RedovniStudent, new { @disabled = "disabled" })</td>
                <td>
                    @Html.ActionLink("Info", "Detalji", new { id = student.Id }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("Ažuriraj", "Azuriraj", new { id = student.Id }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Izbriši", "Brisi", new { id = student.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </table>
}

